/*dsdsad*/



* {
    font-family: "Quicksand", Verdana, sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    
  }

body {
    background-image: url("../images/wheatBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #EAE7DC;

}

/*Verteilt horizontal*/
nav {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D8C3A588;
    
}


.navTeilMitte {
    display: flex;
    justify-content: space-around;
    width: 800px;
}
nav  div {
    width: 400px;
    height: 30px;
}


nav  div a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
nav a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-left: 30px;
}
nav span{
    margin-right: 30px;
}
nav  div :hover {
    color:#e8594fcf;
    font-weight: 650;
}



.vertikaleFlexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}




/** CAT BREEDS */
.katzenrassenListe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Überschrift*/
.katzenrassenListe h1 {
    padding-bottom: 5px;
    width: 420px;
    height: 60px;
    color: rgb(134, 49, 16);
    font-weight: bold;
}

.alignCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.beigeBox {
    border-radius: 20px 20px 20px 20px;
    background-color: #ffebcdce;
    margin-bottom: 20px;
    margin-right: 50px;
}

.katzenrassenListe li {
    display: flex;
    align-items: center;
    width: 1500px;
}
.katzenrassenListe li img {
    margin: 20px;
}

.aboutKatzetext {
    margin-left: 70px;
    margin-right: 70px;
    width: 800px;
    
}
.aboutKatzetext p {
    font-size: larger;
    margin-bottom: 50px;
}
.aboutKatzetext h3 {
    font-size: 30px;
    font-weight: bold;
    color: rgb(134, 49, 16);
}






.miniRoteBox {
    background-color: rgba(206, 105, 33, 0.636);
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
}

.rechteKRassenBox {
    margin-right: 50px;
    width: 300px;
    margin-top: 10px;
}


.katzenTags {
    height: 75px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}



.AktionButtenCat {
    width: 270px;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    align-items: center;
}
























/**Abzuändern**/
